<!DOCTYPE html>
<html lang="en">
<head th:replace="layout/plantilla :: head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <aside th:replace="layout/plantilla :: aside"></aside>
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        <!-- Navbar -->
        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-3 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
          <div class="container-fluid py-1 px-3">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
                <li class="breadcrumb-item text-sm text-dark active" aria-current="page"><a th:href="@{/estados}">Estados-Reserva</a></li>
                <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Registrar</li>
              </ol>
            </nav>
          </div>
        </nav>
        <!-- End Navbar -->
        <div class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
            <div class="row">
              <div class="ms-3">
                <h3 class="mb-0 h4 font-weight-bolder">Estados</h3>
                <p class="mb-4">
                  Tipos de estado de una reserva
                </p>
              </div>
            </div>
          </div>

          <div class="container-fluid py-2">
            <div class="row">
              <div class="col-12">
                <div class="card my-4">
                  <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                      <h6 class="text-white text-capitalize ps-3">Registrar nuevo estado</h6>
                    </div>
                  </div>
                  <div class="card-body px-4 pb-2">
                    <form id="formulario" th:action="@{/estados/guardar}" th:object="${estado}" method="post">
                        <!-- Descripción del estado -->
                        <div class="input-group input-group-outline my-3">
                          <label class="form-label">Descripción</label>
                          <input type="text" th:field="*{descripcion}" class="form-control" maxlength="50" required>
                        </div>
                        
                        <!-- Botones de acción -->
                        <div class="text-end">
                          <a th:href="@{/estados}" class="btn btn-outline-secondary me-2">Cancelar</a>
                          <button type="submit" class="btn bg-gradient-primary">Guardar</button>
                        </div>
                      </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
      

      </main>

      <!--   Core JS Files   -->
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
  <script src="../assets/js/plugins/chartjs.min.js"></script>
  <script>
    document.getElementById('formulario').addEventListener('submit', function(event) {
    event.preventDefault();
    
    const form = this; 
  
    Swal.fire({
        title: "¿Confirmar registro?",
        text: "¿Estás seguro de registrar este tipo de estado?",
        icon: "question",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Sí, registrar",
        cancelButtonText: "Cancelar"
    }).then((result) => {
        if (result.isConfirmed) {
        form.submit(); 
        }
    });
    });
  </script>

  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/material-dashboard.min.js?v=3.2.0"></script>
      
</body>
</html>